﻿
@{
    ViewBag.Title = "Index";
}

<h2>Reports</h2>

<ul>
    <li>
        <a href="/reports/paymentsummary">Payment Summary</a>
    </li>
    <li>
        <a href="/reports/paymentsummarywithnodiscounts">Payment Summary (Without Discounts)</a>
    </li>
    <li>
        <a href="/reports/payments">Payments by Week</a>
    </li>
    <li>
        <a href="/reports/paymentswithnodiscounts">Payments by Week (Without Discounts)</a>
    </li>
    <li>
        <a href="/reports/paymentsbyemployee">Payments by Employee</a>
    </li>
    <li>
        <a href="/reports/paymentsbyemployeewithnodiscounts">Payments by Employee (Without Discounts)</a>
    </li>

</ul>