﻿@model IEnumerable<BenefitsCodingChallenge.Entities.Payment>

@{
    ViewBag.Title = "PaymentSummary";
}

<h2>Payment Summary</h2>

<table>

    @foreach (var pd in Model.Select(p => p.Employee).Distinct())
    {
        <tr>
            <td colspan="3">@pd.LastName, @pd.FirstName</td>
        </tr>
        <tr>
            <td>
                <strong>@String.Format("{0:c}", Model.Where(p => p.Employee == pd).Select(e => e.Salary).Sum())</strong>
            </td>
            <td>
                <strong>@String.Format("{0:c}", Model.Where(p => p.Employee == pd).Select(e => e.TakeHome).Sum())</strong>
            </td>
            <td>
                <strong>@String.Format("{0:c}", Model.Where(p => p.Employee == pd).Select(e => e.Benefits).Sum())</strong>
            </td>

        </tr>
    }

</table>