﻿@model IEnumerable<BenefitsCodingChallenge.Entities.Payment>

@{
    ViewBag.Title = "PaymentsByEmployee";
}

<h2>Payments By Employee</h2>

<table>

    @foreach (var pd in Model.Select(p => p.Employee).Distinct())
    {
        <tr>
            <td colspan="7">@pd.LastName, @pd.FirstName</td>
        </tr>
        foreach (var payment in Model.Where(p => p.Employee == pd))
        {
            <tr>
                <td>@payment.PaymentDate.ToShortDateString()</td>
                <td>@String.Format("{0:c}", payment.Salary)</td>
                <td>@String.Format("{0:c}", payment.TakeHome) </td>
                <td>
                    @String.Format("{0:c}", payment.Benefits)
                    @if (payment.IsDiscounted)
                    {
                        <text>*</text>
                    }
                </td>
            </tr>
        }
        <tr>
            <td>
                <strong>@String.Format("{0:c}", Model.Where(p => p.Employee == pd).Select(e => e.Salary).Sum())</strong>
            </td>
            <td>
                <strong>@String.Format("{0:c}", Model.Where(p => p.Employee == pd).Select(e => e.TakeHome).Sum())</strong>
            </td>
            <td>
                <strong>@String.Format("{0:c}", Model.Where(p => p.Employee == pd).Select(e => e.Benefits).Sum())</strong>
            </td>
        </tr>
    }

</table>