﻿
@{
    ViewBag.Title = "Index";
}

<h2><i class="fa fa-tachometer"></i>&nbsp;Dashboard
</h2>

<div class="row">
    <span class="col-lg-4">
        <a class="" 
           href="@Url.Action("Create", "Employees")">
            <i class="btn btn-primary fa fa-user-plus fa-4x"></i>&nbsp; Add Employee
        </a>
    </span>
    <span class="col-lg-4">
        <a class=""
           href="@Url.Action("Index", "Employees")">
            <i class="btn btn-primary fa fa-users fa-4x"></i>&nbsp; Manage Employees
        </a>
    </span>
    <span class="col-lg-4">
        <a class=""
           href="@Url.Action("Index", "Reports")">
            <i class="btn btn-primary fa fa-file-text fa-4x"></i>&nbsp; Reports
        </a>
    </span>
</div>